.banner-noticias {
    height: 200px;
    width: 100%;
    background-image: url('img/banner-noticias.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.banner-noticias .block-text {
    color: white;
    text-shadow: 1px 1px 10px black;
    text-align: center;
    padding-top: 60px;
}

.noticias {
    padding: 20px;
    max-width: 800px;
}

.noticias .noticia {
    border: 0.5px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #ddd, -3px 3px 10px #ddd;
    text-align: justify;
    border-top: 5px solid #6a6f78;
    margin-bottom: 30px;
}

.noticias .noticia img {
    width: 100%; height: auto;
}
