form{
    width: 500px;
    background-color: dodgerblue;
    border: 3px inset black;
    padding: 5px;
    margin-left: 5%;
    
}
.container{
    padding: 5px;
    
    
}
p{
    color: white;
    margin-left: 5%;
}
.quest{
    padding: 2px;
    display: inline;
    
}
.fSubmit{
    display: inline;
    float: right;
    margin-right: 10%;
}
