{% extends 'LMSWeb/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/cursos.css' %}" rel="stylesheet" />
{% endblock %}


{% block title %}
Cursos - {{block.super}}
{% endblock %}

{% block container %}
<div class="banner-cursos">
    <div class="block-text">
        <h1>Cursos</h1>
    </div>
</div>

<div class="cursos">
    <div class="curso">
        
        <h4><a href="{% url 'LMSWeb:curso' 1 %}">Administração</a></h4>
        <div class="curso-info-item">
            <img src="{% static 'img/duracao-icon-color.png' %}" />
            <span class="field-title">Duração:</span> 
            5 semestres
        </div>
        <div class="curso-info-item">
            <img src="{% static 'img/modalidade-icon-color.png' %}" />
            <span class="field-title">Modalidade:</span> 
            Presencial
        </div>
        <div class="curso-info-item">
            <img src="{% static 'img/periodo-icon-color.png' %}" />
            <span class="field-title">Período(s):</span> 
            matutino, noturno
        </div>
    </div>

    <div class="curso">
        {% for Cursos in Curso %}
            <h4><a href="#">{{ Cursos.nome }}</a></h4>
            <div class="curso-info-item">
                <img src="{% static 'img/duracao-icon-color.png' %}" />
                <span class="field-title">Duração:</span> 
                {{ Cursos.duracao }}
            </div>
            <div class="curso-info-item">
                <img src="{% static 'img/modalidade-icon-color.png' %}" />
                <span class="field-title">Modalidade:</span> 
                {{ Cursos.modalidade }}
            </div>
            <div class="curso-info-item">
                <img src="{% static 'img/periodo-icon-color.png' %}" />
                <span class="field-title">Período(s):</span> 
                matutino, noturno
            </div>
        {% endfor %}
    </div>


    <div class="curso">
        <h4><a href="#">Redes de computadores</a></h4>
        <div class="curso-info-item">
            <img src="{% static 'img/duracao-icon-color.png' %}" />
            <span class="field-title">Duração:</span> 
            6 semestres
        </div>
        <div class="curso-info-item">
            <img src="{% static 'img/modalidade-icon-color.png' %}" />
            <span class="field-title">Modalidade:</span> 
            Presencial
        </div>
        <div class="curso-info-item">
            <img src="{% static 'img/periodo-icon-color.png' %}" />
            <span class="field-title">Período(s):</span> 
            noturno
        </div>
    </div>

    <div class="curso">
        <h4><a href="#">Gestão de Projetos</a></h4>
        <div class="curso-info-item">
            <img src="{% static 'img/duracao-icon-color.png' %}" />
            <span class="field-title">Duração:</span> 
            4 semestres
        </div>
        <div class="curso-info-item">
            <img src="{% static 'img/modalidade-icon-color.png' %}" />
            <span class="field-title">Modalidade:</span> 
            EAD
        </div>
        <div class="curso-info-item">
            <img src="{% static 'img/periodo-icon-color.png' %}" />
            <span class="field-title">Período(s):</span> 
            matutino, vespertino, noturno
        </div>
    </div>

    <div class="curso">
        <h4><a href="#">Design</a></h4>
        <div class="curso-info-item">
            <img src="{% static 'img/duracao-icon-color.png' %}" />
            <span class="field-title">Duração:</span> 
            6 semestres
        </div>
        <div class="curso-info-item">
            <img src="{% static 'img/modalidade-icon-color.png' %}" />
            <span class="field-title">Modalidade:</span> 
            Presencial
        </div>
        <div class="curso-info-item">
            <img src="{% static 'img/periodo-icon-color.png' %}" />
            <span class="field-title">Período(s):</span> 
            matutino, noturno
        </div>
    </div>
</div>

{% endblock %}

{% block js %} {% endblock %}