{% extends 'LMSWeb/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
{% endblock %}


{% block title %}
    Home - {{block.super}}
{% endblock %}

{% block container %}
    <div class="banner-home">
        <div class="block-text">
            <h1>O seu futuro é a nossa missão.</h1>
            <button class="btn-cta">Conheça nossos cursos</button>
        </div>
    </div>

    <div class="items-cta">
        <div class="item-cta">
            <img src="{% static 'img/cap-color.png' %}" />
            <div class="item-cta-content">
                <h4>Titulo 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn-cta">Lorem ipsum</button>
            </div>
        </div>
        <div class="item-cta">
            <img src="{% static 'img/subway-color.png' %}" />
            <div class="item-cta-content">
                <h4>Titulo 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn-cta">Lorem ipsum</button>
            </div>
        </div>
        <div class="item-cta">
            <img src="{% static 'img/classroom-color.png' %}" />
            <div class="item-cta-content">
                <h4>Titulo 3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn-cta">Lorem ipsum</button>
            </div>
        </div>
    </div>

    <div class="avaliacao-alunos">
        <div class="avaliacao fade">
            <img src="{% static 'img/student1.jpg' %}">
            <div class="texto-avaliacao">
                <h5 class="nome-aluno">Pedro Pedroso</h5>
                <p>O curso de ADS é bem completo. Os professores são excelentes e bem atenciosos.</p>
            </div>
        </div>
        <div class="avaliacao fade">
            <img src="{% static 'img/student2.jpg' %}">
            <div class="texto-avaliacao">
                <h5 class="nome-aluno">Aquele que não deve ser nomeado</h5>
                <p>Acho incrível a qualidade dos laboratórios. Infraestrutura é muito boa, a rede nunca cai.</p>
            </div>
        </div>
        <div class="avaliacao fade">
            <img src="{% static 'img/student3.jpg' %}">
            <div class="texto-avaliacao">
                <h5 class="nome-aluno">Jessica Jones</h5>
                <p>A faculdade possui uma estrutura ótima. As escadas rolantes estão sempre funcionando e a variedade de opções para alimentação no pátio chega a surpreender.</p>
            </div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

{% endblock %}