{% extends 'LMSWeb/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/noticia.css' %}" rel="stylesheet" />
{% endblock %}


{% block title %}
Notícias - {{block.super}}
{% endblock %}

{% block container %}
<div class="banner-noticia">
    <div class="block-text">
        <h1>Notícias</h1>
    </div>
</div>

<div class="noticias">
    <article class="noticia">
        <h3>Impacta é reconhecida como a melhor entre as faculdades de tecnologia</h3>
        <img src="{% static 'img/noticias/noticia1.png' %}" />
        <div class="texto">
            <p>{% lorem 1 %}</p>
            <p>{% lorem 2 %}</p>
            <p>{% lorem 2 %}</p>
            <p>{% lorem 1 %}</p>
        </div>
    </article>
</div>

{% endblock %}