{% extends 'LMSWeb/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/noticias.css' %}" rel="stylesheet" />
{% endblock %}


{% block title %}
Notícias - {{block.super}}
{% endblock %}

{% block container %}
<div class="banner-noticias">
    <div class="block-text">
        <h1>Notícias</h1>
    </div>
</div>

<div class="noticias">
    <article class="noticia">
        <h3><a href="{% url 'LMSWeb:noticia' 1 %}">Impacta é reconhecida como a melhor entre as faculdades de tecnologia</a></h3>
        <img src="{% static 'img/noticias/noticia1.png' %}" />
        <p class="texto">{% lorem 1 %}</p>
        <p><a href="{% url 'LMSWeb:noticia' 1 %}">Leia mais...</a></p>
    </article>

    <article class="noticia">
        <h3><a href="#">Novo curso: Redes de computadores</a></h3>
        <img src="{% static 'img/noticias/noticia2.png' %}" />
        <p class="texto">{% lorem 1 %}</p>
        <p><a href="#">Leia mais...</a></p>
    </article>
</div>

{% endblock %}

{% block js %} <script src="{% static 'js/accordion.js' %}"></script> {% endblock %}