{% extends 'LMSWeb/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<link href="{% static 'css/teste.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}
Testes - {{block.super}}
{% endblock %}
{% block container %}
<div class="container">
        <form method="POST">
                <label for="Question">Questão 1 </label>
                <div class="enunciado">
                        <p>---------------- Questao ---------------------</p>
                </div>
                <div class="alternativas_questoes">
                        <label for="quest_1"><input type="radio" name="questoes" id="quest_1">questao</label><br/>
                </div>
                <div class="alternativas_questoes">
                        <label for="quest_2"><input type="radio" name="questoes" id="quest_2">questao</label><br/>
                </div>
                <div class="alternativas_questoes">
                        <label for="quest_3"><input type="radio" name="questoes" id="quest_3">questao</label><br/>
                </div>
                <div class="alternativas_questoes">
                        <label for="quest_4"><input type="radio" name="questoes" id="quest_4">questao</label><br/>
                </div>
                <div class="alternativas_questoes">
                        <input type="submit" name="fSubmit" id="fSubmit" value="Proxima"><br/>
                </div>
        </form>
</div >

{% endblock %}